<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adjunct-Guard" version="2.0.0" targetFramework="net40-Client" />
  <package id="adjunct-System.DataStructures.AvlTree" version="2.0.0" targetFramework="net40-Client" />
  <package id="adjunct-System.DataStructures.BinaryTreeBase" version="2.0.0" targetFramework="net40-Client" />
  <package id="adjunct-System.DataStructures.FuncComparer" version="2.0.0" targetFramework="net40-Client" />
  <package id="adjunct-System.IComparableExtensions" version="2.0.0" targetFramework="net40-Client" />
  <package id="Lz4.Net" version="1.0.98" targetFramework="net40" />
</packages>