<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adjunct-Guard" version="2.0.0" targetFramework="net40-Client" />
  <package id="adjunct-System.DataStructures.AvlTree" version="2.0.0" targetFramework="net40-Client" />
  <package id="adjunct-System.DataStructures.BinaryTreeBase" version="2.0.0" targetFramework="net40-Client" />
  <package id="adjunct-System.DataStructures.FuncComparer" version="2.0.0" targetFramework="net40-Client" />
  <package id="adjunct-System.IComparableExtensions" version="2.0.0" targetFramework="net40-Client" />
  <package id="Lz4.Net" version="1.0.98" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net472" />
</packages>